@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
@import url('bin/fonts/cormac-cufonfonts-webfont/style.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
/*The header styling region styles the header that conatins the site logo and the main menu*/
#header {
    background-color: #E3E3E3;
}
#header #grid-display {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 35px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 20% 80%;
}
#header #grid-display #col1 {
    font-family: "Montserrat Subrayada";
}
#header #grid-display #col-2 #main-menu {
    text-align: right;
}
#header #grid-display #col-2 #main-menu h3{
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    text-align: right;
    padding: 20px;
    font-size: 22px;
    font-weight: 600;
}
#header #grid-display #col-2 #main-menu h3:hover{
    cursor: pointer;
    text-decoration: underline;
}
/*The header styling region ends*/
/*The Styling region for the front page that will also contain the background image*/
#front-page {
    background-image: url('img/front-page.png');
    background-size: cover;
    background-position: center -250px;
    height: 100%;
    padding-top: 200px;
    padding-bottom: 350px;
}
#front-page {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#front-page h1 {
    font-size: 50px;
}
#front-page p {
    margin-top: 20px;
}
#front-page button {
    font-size: 30px;
    padding: 15px 60px;
    border-radius: 30px;
    margin-top: 60px;
    font-weight: bold;
    background-color: #636363;
    color: white;
    border: none;
}
#front-page button:hover {
    cursor: pointer;
}
/*Front page styling ends*/
/*Block value section that contains the eye catching key facts styling starts*/
#block-value {
    text-align: center;
    width: 80%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #296F6D;
    margin-top: -75px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px 0px;
    border-radius: 40px;
}
.key-fact {
    border-right: 1px white solid;
    padding: 30px 0px;
}
.key-fact h1{
    color: white;
    display: inline;
    font-family: 'Cormac Black';
    font-size: 48px;
}
.key-fact p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
/*Block value section styling ends*/
/*Express furniture menu styling starts Quad-grid menu style*/
#categories h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-left: 10%;
}
#categories #unit {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
#categories #unit .furniture {
    margin-top: 55px;
    background-color: #EEEDE9;
    width: 60%;
    border-radius: 40px;
    padding-bottom: 20px;
    margin-left: 35px;
    align-self: flex-end;
}
#categories #unit .furniture img {
    height: 150px; 
}
#categories #unit .furniture h2 {
    font-family: Arial, Helvetica, sans-serif;
}
/*Express furniture menu styling ends*/
/*Third page styling of services starts*/
#third-page {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 45% 55%;
}
#third-page #wallpaper-sofa {
    background-image: url('img/asthetic-image.webp');
    background-size: cover;
    height: 100%;
    padding-bottom: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#third-page #text-section-third {
    margin-left: 80px;
    margin-top: 40px;
    width: 70%;
}
#third-page #text-section-third h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 600;
}
#third-page #text-section-third p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    font-size: 18px;
}
#third-page #text-section-third #services{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 50% 50%;
}
#third-page #text-section-third #services img {
    height: 35px;
}
#third-page #text-section-third #services .service-detail {
    font-family: "Rubik";
}
#third-page #text-section-third #services .service-detail h3{
    font-size: 28px;
    font-weight: 500;
}
/*Third page styling of service ends*/
/**/
#banner-poster {
    background-color: #296F6D;
    margin-top: 200px;
}
#banner-poster #text{
    padding: 50px 0px;
    text-align: center;
    color: white;
}
#banner-poster #text h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
#banner-poster #text p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 12.5%;
    width: 75%;
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 25px;
}
#banner-poster #text button{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 30px;
    font-size: 24px;
    border-radius: 50px;
    border: 2px solid white;
    color: white;
    background-color: #296F6D;
    transition: background-color 0.5s;
}
#banner-poster #text button:hover {
    color: #296F6D;
    background-color: white;
    cursor: pointer;
}
/*Banner styling ends*/
/*Review section begins*/
#reviews {
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#reviews #user-review {
    width: 80%;
    margin-left: 10%;
    margin-top: 45px;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 30% 5% 30% 5% 30%;
    padding-bottom: 20px;
}
#reviews #user-review .review-box {
    border-radius: 20px;
    text-align: left;
    border: 1px black solid;
    padding: 20px 15px;
    transition: background-color 0.5s, border 0.5s;
}
#reviews #user-review .review-box h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 0px 0px;
    margin-bottom: 20px;
}
#reviews #user-review .review-box p {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
}
#reviews #user-review .review-box:hover {
    background-color: #296F6D;
    border: 1px #296F6D solid;
    color: white;
}
/*Review section ends*/
/*Disocunt section starts*/
#membership {
    margin-top: 50px;
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url(img/living-room.webp);
    background-size: cover;
    height: 100%;
    padding: 75px 0px;
    border-radius: 40px;
    background-position: center -100px;
    text-align: center;
    color: white;
}
#membership::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.4); /* Adjust the transparency by changing the alpha value (0.5 in this case) */
    z-index: 1; /* Ensure it's behind other content */
}
#membership h1, #membership p {
    font-family: "Raleway";
    position: relative;
    color: white;
    opacity: 1;
    z-index: 10;
}
#membership p {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 600px;
}
#membership button {
    position: relative;
    font-family: "Raleway";
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    padding: 15px 60px;
    border-radius: 30px;
    font-size: 20px;
    background-color: #296F6D;
    z-index: 10;
    border: none;
}
#membership #button:hover {
    color: #296F6D;
    background-color: white;
    position: relative;
    z-index: 10;
    cursor: pointer;
}
/*Membership styling ends*/
/*Footer styling starts*/
#footer {
    margin-top: 100px;
    background-color: #296F6D;
    color: white;
}
#footer #contact-bold {
    padding-top: 85px;
    display: grid;
    grid-template-columns: 65% 15% 5% 15%;
    width: 80%;
    margin: 0% 10%;
    font-family: "Raleway";
}
#footer #contact-bold h1 {
    font-size: 36px;
}
#footer #contact-bold button {
    height: 55px;
    padding: 10px;
    border-radius: 40px;
    background-color: white;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 20px;
    border: none;
}
#footer #contact-bold button:hover {
    cursor: pointer;
}
#footer #main-footer {
    padding-top: 50px;
    width: 80%;
    margin: 0% 10%;
    font-family: "Raleway";
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    padding-bottom: 50px;
}
#footer #main-footer #col1 {
    width: 400px;
}
#footer #main-footer #col1 h1{
    font-family: "Montserrat Subrayada";
}
#footer #main-footer #col1 p{
    margin-top: 20px;
    line-height: 30px;
}
#footer #main-footer #col2 ul, #footer #main-footer #col3 ul, #footer #main-footer #col4 p{
    margin-top: 20px;
}
#footer #main-footer #col2 ul li, #footer #main-footer #col3 ul li{
    list-style: none;
    margin-top: 5px;
}
#footer #main-footer #col2 ul li:hover, #footer #main-footer #col3 ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}